body {
  background: #bcc360;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, rgb(208, 215, 213), #050505);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, hsl(160, 17%, 76%), #d2cddb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
